@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    position: absolute;
    z-index: 1;
    
}


header h1 {
    margin: 5px;
    color: #593D2D;
}

nav ul {
    position: relative;
    left: 90px;
    margin: 20px;
    display: flex;
    gap: 10px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
}

#banner {
    position: relative;
    top: 0;
    width: 100vw;
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0 0 5px 5px;
}

#logo img {
    width: 100%;
    height: auto;
    display: block;
}

section#formulario {
    position: absolute;

    width: 400px;
    height: 150px;
    top: 200px;
    left: 50%;

    
    background-color: rgb(20, 20, 20);
    color: white;

    transform: translate(-50%, 0);
}

section#formulario label {
    
    margin: 60px;
    margin-bottom: 15px;

}


section#formulario input {
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 130px;
    
}



section#formulario #buttom-orcamento {
    display: flex;
    margin: auto;
    margin-top: -5px;
    width: 120px;
    padding: 10px 0;
    
    border-style: none;
    text-align: center;
    background-color: rgb(201, 118, 10);
    color: white;
    border-radius: 3px;
}