@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #593D2D;
}

header {
    background-color: rgb(201, 118, 10);
    display: flex;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 35px;
}

header h1 {
    padding-left: 10px;
    font-size: 1.8em;

    position: relative;
    top: -10px;
}

header ul {
    list-style: none;
    display: none;
    gap: 10px;
    
}

header a {
    text-decoration: none;
    color: white;
    
}


#banner {
    position: relative;
    top: 0;
    width: 100vw;
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: 350px;
    display: block;
    border-radius: 0 0 5px 5px;
}

#logo img {
    width: 100%;
    height: auto;
    display: block;
}

section#formulario {
    position: absolute;

    width: 400px;
    height: 160px;
    top: 300px;
    left: 50%;

    
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 3px;

    transform: translate(-50%, 0);
}

section#formulario label {
    
    margin: 60px;
    margin-bottom: 15px;

}


section#formulario input {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    width: 130px;
    
}

section#formulario input#iemail {
    width: 180px;
}


section#formulario #buttom-orcamento {
    display: flex;
    margin: auto;
    margin-top: 3px;
    width: 120px;
    padding: 10px 0;
    
    border-style: none;
    text-align: center;
    background-color: rgb(201, 118, 10);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#estilos-projeto {
    margin-top: 0;
    margin-left: 20px;
    width: 180px;
}

#grid1 img {
    position: relative;
    left: 15%;
    top: 300px;
    width: 190px;
    height: 400px;

    transform: translate(-25%, 0);

}

#grid2 img {
    position: relative;
    left: 65%;
    top: -110px;
    width: 190px;
    height: 400px;

    transform: translate(-25%, 0);

}