@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #FDFCF8;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 2;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.219);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-toggle {
    flex: 1;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    color: white;
    padding-right: 8px;
}

.logo {
    flex: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}

#menu {
    display: none;
    background-color: rgba(0, 0, 0, 0.219);
    width: 100%;
    text-align: center;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#menu li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #e9e6dd8c;
}

#menu.active {
    
    display: block;
}

#burguer {
    display: flex;
    color: white;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    z-index: 3;
}

header h1 {
    font-family: "Bodoni Moda", serif;
    text-align: center;
    font-weight: normal;
    font-size: 1.4em;
    color: white;
}

#banner {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 300px;
    z-index: 0;

}

#banner img {
    width: 100%;
    height: 100%;
}

#banner p {
    font-family: "Cormorant Garamond", serif;
    color: white;
    font-size: 1em;
    text-shadow: 2px 2px 3px black;

    position: relative;
    z-index: 2;
    top: -150px;
    text-align: center;
}

section#carrosel h1 {
    
    font-family: "Bodoni Moda", serif;
    position: relative;
    margin-top: 325px;
    margin-left: 15px;
    font-weight: normal;
    font-size: 1.4em;
}

#grid {

      display: flex;
      overflow-x: auto;
      margin-top: 10px;
      scroll-snap-type: x mandatory;
      gap: 16px;
      padding: 16px;
      scroll-behavior: smooth;
    }

.item {
      flex: none;
      width: 75vw; /* padrão: celular */
      scroll-snap-align: center;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

.item img {
      width: 100%;
      height: auto;
      display: block;
    }

.container::-webkit-scrollbar {
      display: none;
    }

#sobre {
    margin-top: 70px;
    background-color: #E9E6DD;
    padding: 20px;
    width: 100vw;
}

#sobre img {
    position: relative;
    left: 35vw;
    width: 25%;
}

#sobre h2 {
    font-family: "Bodoni Moda", serif;
    text-align: center;
    
}

#sobre p {
    text-indent: 2em;
    text-align: justify;
}



    display: flex;
    margin-top: 70px;
    background-color: #CFC9BB;
    color: white;
}

#planos ul {
    display: flex;
    list-style: none;
    gap: 12px;
    padding: 20px;
}

#planos a {
    color: white;
    text-decoration: none;
}

#planos a:hover {
    color: #817e75;
    text-decoration: underline;
}

#plano-simples {
    
    background-color: #E3DBCC;
    margin-top: 70px;
    width: 100vw;
    padding: 15px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


#plano-simples img {
    margin-top: 10px;
    max-width: 50vw;
    height: 200px;
 
}

.texto-plano {
    color: rgb(22, 22, 22);
    text-indent: 1em;
    flex: 1;
    font-size: 0.6em;
    text-align: justify;
} 

.texto-plano h2 {
    font-family: "Bodoni Moda", serif;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 5px;
}

.texto-plano ul {
    font-size:  0.8em;
}

#plano-plus {
    
    background-color: #f3f0E9;
    margin-top: 70px;
    width: 100vw;
    padding: 10px;
}


#plano-plus img {

    max-width: 50vw;
    height: 300px;
}

#plano-plus .texto-plano {
    color: rgb(22, 22, 22);
    text-indent: 1em;
    flex: 1;
    font-size: 0.6em;
    text-align: justify;
    margin-left: 8px;
} 

#plano-comercial {
    
    background-color: #E3DBCC;
    margin-top: 70px;
    width: 100vw;
    padding: 10px;
}

#plano-comercial img {

    max-width: 50vw;
    height: 300px;
}

#formulario {
    padding: 10px ;
    margin-top: 70px;
    background-color: #222121;
    width: 100vw;

}

#formulario h1 {
    font-family: "Bodoni Moda", serif;
    text-align: center;
    font-size: 1.3em;
    color: white;
}

#formulario input[type="text"], input[type="email"], input[type="tel"] {
    color: white;
    margin-top: 10px;
    width: 90vw;
    padding: 5px;
    background-color: #222121;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;

}

#formulario ::placeholder {
    color: white;
}

#formulario select {
    color: white;
    margin-top: 10px;
    width: 90vw;
    padding: 5px;
    background-color: #222121;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
}

#formulario textarea {
    color: white;
    margin-top: 10px;
    width: 90vw;
    padding: 5px;
    background-color: #222121;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
}

input[type=submit] {
    position: relative;
    margin-top: 5px;
    width: 80vw;
    left: 50%;
    padding: 7px 20px;
    border-radius: 7px;
    font-size: 1.2em;
    background-color: #E3DBCC;
    cursor: pointer;

    transform: translate(-50%, 0);

}

#tulipa img {
    background-color: #CFC9BB;
    margin: 0 -6px ;
    position: relative;
    width: 16vw;
    z-index: 10;
    height: 70px;
}

footer {
    width: 100vw;
    background-color: #222121;
    margin-top: -4px;
}

footer h3 {
    color: white;
    padding: 30px 30px 10px;
    font-size: 2.9em;
}

footer p {
    color: #BCB8B6;
    padding-left: 30px;
}

footer h3 > img {
    position: absolute;
    width: 17vw;
}

footer .iconesinsta {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 40px;
}

footer .iconesface {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

footer .iconeswhats {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

footer h4 {
    padding: 25px;
    color: white;
    font-size: 1.5em;
}

#icon {
    vertical-align: middle;
    
}

footer #number {
    margin-left: 30px;
}

footer p#email {
    margin-top: 15px;
}

footer #imagens {
    width: 100vw;

}

footer #imagens img {
    position: relative;
    top: 30px;
    left: 10px;
    width: 22%;
    height: 130px;
}

hr#quebra-footer {
    margin-top: 80px;
}

p#direitos {
    padding: 30px 0 10px 10px;
    font-weight: 900;
}